:root {
  --color-background: #C4D3DA;
  --color-accent: #f06823;
}

/* Headers */
.header {
  background-color: var(--color-background);
}

/* Tables */
.table {
  border: 1px solid black;
  background-color: var(--color-background);
}

/* Buttons */
.orange-button {
  background-color: var(--color-accent) !important;
  color: white !important;
}

.orange-button:disabled {
  background-color: gray !important;
  color: #ccc !important;
}

/* TextField */
.textfield-hover .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: var(--color-accent) !important;
  outline: none;
  box-shadow: none;
}

.textfield-hover .MuiInputLabel-root.Mui-focused {
  color: var(--color-accent) !important;
}