.table {
  border: 1px solid black;
  background-color: #C4D3DA;
}

.orange-button {
  background-color: #f06823 !important;
  color: white !important;
}

.orange-button:disabled {
  background-color: gray !important;
  color: #ccc !important;
}

.textfield-hover .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #f06823 !important;
  outline: none;
  box-shadow: none;
}

.textfield-hover .MuiInputLabel-root.Mui-focused {
  color: #f06823 !important;
}